 
 :root{
    --sideBarHeader:#14213d;
  }
 .header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sideBarHeader);
    width: 100%;
    height: auto;
  }